:root{
    --color_1:#eee;
    --color_2:#1f1f1f;
}

.container{
    margin-top: max(6%,100px);
    z-index: 2;
    flex-grow: 1;
    padding-right: 6%;
}

.back{
    height: 48px;
    width: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color_1);
}

.arrow-left {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-left: 4px solid var(--color_1);
    border-bottom: 4px solid var(--color_1);
    transform: rotate(45deg);
}

.main-contents{
    padding-top: 48px;
    background-color: blue;
}