.contactBox{
    margin-bottom: 60px;
    color: #eee;
    font-size: 18px;
    display: grid;
    grid-template-columns: auto;
}

.boxName{
    letter-spacing: 2px;
    font-weight: 300;
    width: 200px;
}

.boxInput{
    margin-top: 8px;
    background-color: #00000020;
    width: calc(max(400px,40%));
    border-radius: 4px;
    border: #eeeeeea6 1.5px solid;
    padding: 12px;
    color: #eee;
    font-size: 18px;
}