@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

.toyoshima{
    height: auto;
    width: auto;
    color: #eee;
    position: absolute;
    top: 10%;
    right: 10%;

}

    h1{
        font-size: 72px;
        text-shadow:4px 4px 0 var(--color_2), -4px -4px 0 var(--color_2),
        -4px 4px 0 var(--color_2), 4px -4px 0 var(--color_2),
        0px 4px 0 var(--color_2),  0 -4px 0 var(--color_2),
        -4px 0 0 var(--color_2), 4px 0 0 var(--color_2);
    }

    p{
        font-family: 'Zen Maru Gothic', serif;
        font-size: 36px;
        text-shadow:2px 2px 0 var(--color_2), -2px -2px 0 var(--color_2),
        -2px 2px 0 var(--color_2), 2px -2px 0 var(--color_2),
        0px 2px 0 var(--color_2),  0 -2px 0 var(--color_2),
        -2px 0 0 var(--color_2), 2px 0 0 var(--color_2);
        text-align: center;
    }